*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    height: 100px;
    width: 100%;
    background-color: chocolate;
}

#logo{
    width: 100px;
}
h1{
    display: inline-block;
    font-size: 60px;
}
.container{
    background-color: cornflowerblue;
    padding-left: 100px;
    width: 400px;
    height: 800px;
}